.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
background:#101820;
position:sticky;
top:0;
z-index:1000;
}

.logo{
font-size:22px;
font-weight:bold;
color:#00e5ff;
}

.navbar input{
width:55%;
padding:10px;
border-radius:8px;
border:none;
outline:none;
}

.menu{
font-size:28px;
cursor:pointer;
color:white;
}
body{
margin:0;
background:#111;
font-family:Arial,sans-serif;
color:white;
}

header{
background:#00bcd4;
padding:20px;
text-align:center;
}

.news-container{
padding:20px;
}

.card{
background:#222;
padding:20px;
margin-bottom:20px;
border-radius:10px;
}

button{
background:#00bcd4;
color:white;
border:none;
padding:10px 20px;
border-radius:5px;
}
