body{
margin:0;
background:#111;
font-family:Arial,sans-serif;
color:white;
}

header{
background:#00bcd4;
padding:20px;
text-align:center;
}

.news-container{
padding:20px;
}

.card{
background:#222;
padding:20px;
margin-bottom:20px;
border-radius:10px;
}

button{
background:#00bcd4;
color:white;
border:none;
padding:10px 20px;
border-radius:5px;
}
