body{
  margin:0;
  font-family:Arial,sans-serif;
  background:#111;
  color:#fff;
  text-align:center;
}

h1{
  margin-top:60px;
  font-size:32px;
  color:#00e5ff;
}

p{
  font-size:18px;
  color:#ddd;
}